{% extends 'hairmpire/layout.html' %}   
{% load static%}  

{% block title %} Services rendered at BellaTeg Hairmpire {% endblock %}
        
{% block content %}
{% block active2 %} active {% endblock %}
   <section class="hero-wrap js-fullheight" style="background-image: url('{% static "hairmpire/images/headies.jpg" %}' );" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight justify-content-center align-items-center">
          <div class="col-lg-12 ftco-animate d-flex align-items-center">
          	<div class="text text-center">
          		<span class="subheading">Professional Haircare And Beauty Service</span>
		  				<h1 class="mb-4">Services We Offer</h1>
							</div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="services-section ftco-section">
      <div class="container">
      	<div class="row justify-content-center pb-3">
          <div class="col-md-10 heading-section text-center ftco-animate">
          	<span class="subheading">Services</span>
            <h2 class="mb-4">Our Services</h2>
            <p>We specialize on haircare and professional beauty services</p>
          </div>
        </div>
        <div class="row no-gutters d-flex">
          <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
              <div class="icon"><img src="{% static 'hairmpire/images/Hair%20treatment.jpg' %}" alt="hair-treatment" height="250px" width="240px"></div>
              <div class="media-body">
                <h3 class="heading mb-3">Hair Treatments</h3>
                <p>The use of essential oils and products to manage common hair problems such as hair fall, dryness, dandruff, frizzy/thinning hair & so on.....</p>
              </div>
            </div>    
          </div>
          <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
              <div class="icon"><img src="{% static 'hairmpire/images/nailsfixing.png' %}" alt="colored-fingernails"></div>
              <div class="media-body">
                <h3 class="heading mb-3">Cosmetics</h3>
                <p>Our experienced staffs provides good cosmetology service that suits your desires</p>
              </div>
            </div>      
          </div>
          <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
              <div class="icon"><img src="{% static 'hairmpire/images/hair%20revamp.jpeg' %}" alt="cartoon-girl-holding-her-hair" height="240px" width="300px"></div>
              <div class="media-body">
                <h3 class="heading mb-3">Hair Revamping</h3>
                <p>At BellaTeg Hairmpire we revamp your chaffed, wrinkled and old hair to its original shine</p>
              </div>
            </div>      
          </div>
          <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
              <div class="icon"><img src="{% static 'hairmpire/images/hair%20coloring.jpg' %}" alt="hair-products"></div>
              <div class="media-body">
                <h3 class="heading mb-3">Hair Coloring</h3>
                <p>Here at BellaTeg Hairmpire our hair stylists will create the colors you want</p>
              </div>
            </div>      
          </div>
            <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
              <div class="icon"><img src="{% static 'hairmpire/images/wigshair.jpg' %}" alt="hair-wig"></div>
              <div class="media-body">
                <h3 class="heading mb-3">Sales of Wigs & Hair Extension</h3>
                <p>At BellaTeg Hairmpire we also deal on sales of Weaves, Wigs & Hair Extensions at affordable prices</p>
              </div>
            </div>      
          </div>
           <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
             <div class="icon"><img src="{% static 'hairmpire/images/Haircare%20products.jpg' %}" alt="hair-products"> </div>
              <div class="media-body">
                <h3 class="heading mb-3">Sales of Quality Hair Care Products</h3>
                <p>We have a list of the absolute best Hair Care products you can buy for good hair days, every day.</p>
              </div>
            </div>      
          </div>
            <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
             <div class="icon"><img src="{% static 'hairmpire/images/FixingLashes.jpg' %}" alt="hair-products"> </div>
              <div class="media-body">
                <h3 class="heading mb-3">Fixing of Lashes</h3>
                <p>Get your eyelashes the perfect fix! when you let our experienced stylists handle it for you</p>
              </div>
            </div>      
          </div>
            <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
             <div class="icon"><img src="{% static 'hairmpire/images/braiding.jpg' %}" alt="hair-products"> </div>
              <div class="media-body">
                <h3 class="heading mb-3">Hair Braiding</h3>
                <p>Get your eyelashes the perfect fix! when you let our experienced stylists handle it for you</p>
              </div>
            </div>      
          </div>  
        </div>
      </div>
    </section>

     <section class="ftco-section ftco-booking bg-light">
    	<div class="container ftco-relative">
    		<div class="row justify-content-center pb-3">
          <div class="col-md-10 heading-section text-center ftco-animate">
          	<span class="subheading">FOR ENQUIRIES AND CONSULTATIONS</span>
            <h2 class="mb-4">Book an Appointment With Us.</h2>
            <p>Fill in the form below and you will get a response from one of our staffs in no time.</p>
          </div>
        </div>
    		<div class="row justify-content-center">
    			<div class="col-md-10 ftco-animate">
    				<form action="#" class="appointment-form">
	            <div class="row">
	              <div class="col-sm-6">
	                <div class="form-group">
			              <input type="text" class="form-control" id="appointment_name" placeholder="Name">
			            </div>
	              </div>
	              <div class="col-sm-6">
	                <div class="form-group">
			              <input type="text" class="form-control" id="appointment_email" placeholder="Email">
			            </div>
	              </div>
	              <div class="col-sm-6">
	                <div class="form-group">
	                  <input type="text" class="form-control appointment_date" placeholder="Date">
	                </div>    
	              </div>
	              <div class="col-sm-6">
	                <div class="form-group">
	                  <input type="text" class="form-control appointment_time" placeholder="Time">
	                </div>
	              </div>
	              <div class="col-sm-6">
	                <div class="form-group">
			              <div class="select-wrap">
                      <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                      <select name="" id="" class="form-control">
                      	<option value="">Hair Treatments</option>
                        <option value="">Cosmetic</option>
                        <option value="">Hair Revamping</option>
                        <option value="">Hair Coloring</option>
                        <option value="">Fixing of Lashes</option>
                        <option value="">Hair Braiding</option>
                      </select>
                    </div>
			            </div>
	              </div>
	              <div class="col-sm-6">
	                <div class="form-group">
	                  <input type="text" class="form-control" id="phone" placeholder="Phone">
	                </div>
	              </div>
	              <div class="col-md-12">
	              	<div class="form-group">
		                <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
		              </div>
	              </div>
		          </div>
		          <div class="form-group">
	              <input type="submit" value="Make an Appointment" class="btn btn-primary">
	            </div>
	          </form>
    			</div>
    		</div>
    	</div>
    </section>
		
		<section class="ftco-section ftco-pricing">
			<div class="container">
				<div class="row justify-content-center pb-3">
          <div class="col-md-10 heading-section text-center ftco-animate">
          	<span class="subheading">Pricing</span>
            <h2 class="mb-4">Our Prices</h2>
            <p>Below are the different affordable prices of our services offered. Price can be negotiated when you visit our online store.</p>
          </div>
        </div>
        <div class="row">
        	<div class="col-md-3 ftco-animate">
        		<div class="pricing-entry pb-5 text-center">
        			<div>
	        			<h3 class="mb-4">Hair Treatment</h3>
	        			<p><span class="price">#5000</span> <span class="per">/ session</span></p>
	        		</div>
        			<ul>
        				<li>Hair Dryer</li>
								<li>Hair washing</li>
								<li>Hair massage</li>
								<li>Hair Dressing</li>
								<li>Full Cleaning</li>
        			</ul>
        			<p class="button text-center"><a href="#" class="btn btn-primary px-4 py-3">Get Offer</a></p>
        		</div>
        	</div>
        	<div class="col-md-3 ftco-animate">
        		<div class="pricing-entry pb-5 text-center">
        			<div>
	        			<h3 class="mb-4">Manicure Pedicure</h3>
	        			<p><span class="price">#5000</span> <span class="per">/ session</span></p>
	        		</div>
        			<ul>
        				<li>Manicure</li>
								<li>Pedicure</li>
								<li>Coloring</li>
								<li>Nails</li>
								<li>Nail Cut</li>
        			</ul>
        			<p class="button text-center"><a href="#" class="btn btn-primary px-4 py-3">Get Offer</a></p>
        		</div>
        	</div>
        	<div class="col-md-3 ftco-animate">
        		<div class="pricing-entry active pb-5 text-center">
        			<div>
	        			<h3 class="mb-4">Makeup</h3>
	        			<p><span class="price">#3000</span> <span class="per">/ session</span></p>
	        		</div>
        			<ul>
        				<li>Makeup</li>
								<li>Professional Makeup</li>
								<li>Blush On</li>
								<li>Facial Massage</li>
        			</ul>
        			<p class="button text-center"><a href="#" class="btn btn-primary px-4 py-3">Get Offer</a></p>
        		</div>
        	</div>
        	<div class="col-md-3 ftco-animate">
        		<div class="pricing-entry pb-5 text-center">
        			<div>
	        			<h3 class="mb-4">Hair Revamping</h3>
	        			<p><span class="price">#3500</span> <span class="per">/ session</span></p>
	        		</div>
        			<ul>
        				<li>Massage</li>
								<li> Washing</li>
								<li>Deep Conditioning</li>
								<li>Restyling</li>
								<li> Coloring</li>
        			</ul>
        			<p class="button text-center"><a href="#" class="btn btn-primary px-4 py-3">Get Offer</a></p>
        		</div>
        	</div>
        </div>
			</div>
		</section>


    {% endblock %}